# ignore
.idea/*
flask_server/flaskapp/bin/*
flask_server/flaskapp/lib/*

django_server/django_server/bin/*
django_server/django_server/editor_server/editor_server/__pycache__/*
django_server/django_server/lib/*
django_server/.idea/*
django_server/django_server/editor_server/static/*